form {
    padding: 1em 3em;
    background-color: $lightGrayishBlue;
}

form header {
    margin: 0 0 20px 0;
}
form header div {
    font-size: 90%;
    color: #999;
}
form header h2 {
    margin: 0 0 5px 0;
}
form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
    margin: 0 0 5px 0;
}
form > div > label,
legend {
    width: 25%;
    float: left;
    padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
    width: 75%;
    float: right;
}
form > div > fieldset label {
    font-size: 90%;
}
fieldset {
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
    font-size: 1.4em;
    width: 75%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-radius: 0.2em;
}

textarea, input, button, select {
    font-family: inherit;
    font-size: inherit;
}

select {
    font-size: 1.2em;
    width: 75%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus {
    outline: 0;
    border-color: #4697e4;
}

input[type="submit"] {
    background-color: $edgarBlue;
    border: 1px solid #eee;
    border-radius: 0.2em;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

@media (max-width: 600px) {
    form > div {
        margin: 0 0 15px 0;
    }
    form > div > label,
    legend {
        width: 100%;
        float: none;
        margin: 0 0 5px 0;
    }
    form > div > div,
    form > div > fieldset > div {
        width: 100%;
        float: none;
    }
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="submit"],
    textarea,
    select {
        width: 100%;
    }

    input[type="submit"] {
        background-color: $edgarBlue;
        font-size: 1.4rem;
    }
}

@media (min-width: 1200px) {
    form > div > label,
    legend {
        text-align: right;
    }
}
