.hero {
  // background-color: $veryLightGray;
  background-color: $edgarBlue;

  .container {

    display: flex;
    flex-direction: column;

    @include breakpoint-up(large){    
      display: flex;
      align-items: center;
    }
  }

  &__text {
    text-align: center;
    color: white;

    h1 {
      color: white;
    }

    @include breakpoint-up(large){
      flex: 2;
      order: 1;
      text-align: left;
    }
  }
}
